NEXT_PUBLIC_SUPABASE_URL=your-project-url-here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here

ADMIN_PASSWORD=your-admin-password
SESSION_SECRET=optional-random-secret-for-signing-session-cookies

APP_HOST=your-domain-here.com
NEXT_PUBLIC_SITE_URL=https://your-domain-here.com

SCRAPE_SCHEME=https

RSVP_ACCESS_TYPE=token
RSVP_ACCESS_TOKEN=your-secret-token
RSVP_ACCESS_PASSWORD=your-password

RESEND_API_KEY=re_xxxxx
RESEND_FROM_EMAIL=your-email@yourdomain.com

GRAFANA_PROMETHEUS_URL=your-grafana-prometheus-url
GRAFANA_PROMETHEUS_USER=your-grafana-user-id
GRAFANA_PROMETHEUS_TOKEN=your-grafana-api-token
